* {

.content {
    flex: 1;
    padding: 50px;
}

.content h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
}

.content p {
    line-height: 1.9;
    opacity: 0.9;
    font-size: 0.95rem;
}

.module-id {
    color: coral;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.no-image .content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.no-image .card {
    justify-content: center;
}

@media (max-width: 900px) {

    .card {
        flex-direction: column;
    }

    .image-box {
        width: 100%;
        min-height: 300px;
    }

    .content {
        padding: 35px;
    }
}
